StarryTail/.vs/
StarryTail/Binaries/
StarryTail/Build/
StarryTail/Intermediate/
StarryTail/Saved/
StarryTail/StarryTail.sln
!Config/
!Content/
!Source/
!Plugin/
!StarryTail.uproject
*_BuiltData.uasset