Lucia/.vs/
Lucia/.idea/
Lucia/Binaries/
Lucia/Build/
Lucia/Intermediate/
Lucia/Saved/
Lucia/StarryTail.sln
Lucia/StarryTail.sln.DotSettings.user
Lucia/Plugins/SpinePlugin/Intermediate/
Lucia/Plugins/SpinePlugin/Binaries/
!Config/
!Content/
!Source/
!Plugins/
!SpinePlugin.uplugin
!Lucia.uproject
*_BuiltData.uasset